@page "/configuration/benefitPlanIncrs"
@using HorizonPollyC.Services.General
@using HorizonPollyC.Models.Configuration
@using HorizonPollyC.Services.Configuration
@using Microsoft.JSInterop;
@inject IExportService _exportService
@inject IJSRuntime js
@inject IBenefitPlanIncrsService _benefitPlanIncrsService
<h3>Benefit Plan Incrs</h3>

@if (benefitPlanIncrs != null)
{



        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Record" Click="@InsertRow" Disabled=@(benefitPlanIncrsToInsert != null) />
        <RadzenButton Text="Export XLS" Icon="grid_on" Click="@(args => Export("excel"))" Class="mb-4 mr-2" />
        <RadzenButton Text="Export CSV" Icon="wrap_text" Click="@(args => Export("csv"))" Class="mb-4" />
        <RadzenDataGrid @ref="benefitPlanIncrsGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@benefitPlanIncrs" TItem="BenefitPlanIncrsVM" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
            <Columns>
                <RadzenDataGridColumn TItem="BenefitPlanIncrsVM" Property="BenefitPlanID" Title="Benefit Plan ID" Width="140px" TextAlign="TextAlign.Left">
                    <EditTemplate Context="benefitPlanIncrsvm">
                        <RadzenNumeric @bind-Value="benefitPlanIncrsvm.BenefitPlanID" Style="width:100%; display: block" Name="Benefit Plan ID" />
                    </EditTemplate>
                </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="BenefitPlanIncrsVM" Property="AnnIncCD" Title="Ann Inc CD" Width="170px" TextAlign="TextAlign.Left">
                    <EditTemplate Context="benefitPlanIncrsvm">
                    <RadzenNumeric @bind-Value="benefitPlanIncrsvm.AnnIncCD" Style="width:100%; display: block" Name="Ann Inc CD" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BenefitPlanIncrsVM" Property="EffectiveDate" Title="Eff date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
                    <EditTemplate Context="benefitPlanIncrsvm">
                        <RadzenDatePicker @bind-Value="benefitPlanIncrsvm.EffectiveDate" DateFormat="d" Class="w-100" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BenefitPlanIncrsVM" Property="ExpiryDate" Title="Expiry Date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
                    <EditTemplate Context="benefitPlanIncrsvm">
                        <RadzenDatePicker @bind-Value="benefitPlanIncrsvm.ExpiryDate" DateFormat="d" Class="w-100" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BenefitPlanIncrsVM" Property="IsActive" Title="Is Active" Width="50px" TextAlign="TextAlign.Left">
                    <Template Context="benefitPlanIncrsvm">
                        <RadzenSwitch @bind-Value="benefitPlanIncrsvm.IsActive" Disabled="false" />
                    </Template>
                    <EditTemplate Context="benefitPlanIncrsvm">
                        <RadzenSwitch @bind-Value="benefitPlanIncrsvm.IsActive" Disabled="false" />
                    </EditTemplate>

                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BenefitPlanIncrsVM" Context="benefitPlanIncrsvm" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="benefitPlanIncrsvm">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@(args => EditRow(benefitPlanIncrsvm))" @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="benefitPlanIncrsvm">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(benefitPlanIncrsvm))">
                        </RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => CancelEdit(benefitPlanIncrsvm))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>


}