@page "/configuration/benefitoptions"
@using HorizonPollyC.Services.General
@using HorizonPollyC.Models.Configuration
@using HorizonPollyC.Services.Configuration
@using Microsoft.JSInterop;
@inject IExportService _exportService
@inject IJSRuntime js
@inject IBenefitOptionsService _benefitOptionsService
@inject IBenefitOptionService _benefitOptionService
@inject IBenefitTypeService _benefitTypeService


<h3>Benefit Options</h3>

@if (benefitOptions != null)
{

        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Record" Click="@InsertRow" Disabled=@(benefitOptionsToInsert != null) />
        <RadzenButton Text="Export XLS" Icon="grid_on" Click="@(args => Export("excel"))" Class="mb-4 mr-2" />
    <RadzenButton Text="Export CSV" Icon="wrap_text" Click="@(args => Export("csv"))" Class="mb-4" />
        <RadzenDataGrid @ref="benefitOptionsGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@benefitOptions" TItem="BenefitOptionsVM" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
            <Columns>
            <RadzenDataGridColumn TItem="BenefitOptionsVM" Property="BenefitOptionID" Filterable="true" Title="Benefit Option ID" Width="70px" TextAlign="TextAlign.Right" Visible=false>
                <EditTemplate Context="benefitOptionsvm">
                    <RadzenNumeric Min="1" Max="100" @bind-Value="benefitOptionsvm.BenefitOptionID" Class="w-70" Disabled="@enable" />
                    </EditTemplate>
                 </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="BenefitOptionsVM" Property="BenefitTypeCD" Title="Benefit Type" Width="140px" TextAlign="TextAlign.Left">
                <EditTemplate Context="benefitOptionsvm">
                          <RadzenDropDown @bind-Value="benefitOptionsvm.BenefitTypeCD" Data="@benefitTypeLookup" TextProperty="SDesc" ValueProperty="BenefitTypeCD" Style="width:100%; display: block;" />
                    </EditTemplate>
                 </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="BenefitOptionsVM" Property="BenefitOptionCD" Title="Benefit Option" Width="170px" TextAlign="TextAlign.Left">
                <EditTemplate Context="benefitOptionsvm">
                          <RadzenDropDown @bind-Value="benefitOptionsvm.BenefitOptionCD" Data="@benefitOptionLookup" TextProperty="SDesc" ValueProperty="BenefitOptionCD" Style="width:100%; display: block;" />
                    </EditTemplate>
             </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="BenefitOptionsVM" Property="EffectiveDate" Title="Eff date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
                <EditTemplate Context="benefitOptionsvm">
                    <RadzenDatePicker @bind-Value="benefitOptionsvm.EffectiveDate" DateFormat="d" Class="w-100" />
                    </EditTemplate>
                  </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="BenefitOptionsVM" Property="ExpiryDate" Title="Expiry Date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
                <EditTemplate Context="benefitOptionsvm">
                    <RadzenDatePicker @bind-Value="benefitOptionsvm.ExpiryDate" DateFormat="d" Class="w-100" />
                    </EditTemplate>
                  </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="BenefitOptionsVM" Property="IsActive" Title="Is Active" Width="50px" TextAlign="TextAlign.Left">
                <Template Context="benefitOptionsvm">
                    <RadzenSwitch @bind-Value="benefitOptionsvm.IsActive" Disabled="false" />
                    </Template>
                <EditTemplate Context="benefitOptionsvm">
                    <RadzenSwitch @bind-Value="benefitOptionsvm.IsActive" Disabled="false" />
                    </EditTemplate>

                </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="BenefitOptionsVM" Context="benefitOptionsvm" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="benefitOptionsvm">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@(args => EditRow(benefitOptionsvm))" @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                <EditTemplate Context="benefitOptionsvm">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(benefitOptionsvm))">
                        </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => CancelEdit(benefitOptionsvm))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>


}