@page "/configuration/channel"
@using HorizonPollyC.Services.General
@using HorizonPollyC.Models.Configuration
@using HorizonPollyC.Services.Configuration
@using Microsoft.JSInterop;
@inject IExportService _exportService
@inject IJSRuntime js
@inject IChannelService _channelService
<h3>Channels</h3>

@if (channels != null)
{



    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Record" Click="@InsertRow" Disabled=@(channelToInsert != null) />
    <RadzenButton Text="Export XLS" Icon="grid_on" Click="@(args => Export("excel"))" Class="mb-4 mr-2" />
    <RadzenButton Text="Export CSV" Icon="wrap_text" Click="@(args => Export("csv"))" Class="mb-4" />
    <RadzenDataGrid @ref="channelGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@channels" TItem="ChannelVM" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
        <Columns>
            <RadzenDataGridColumn TItem="ChannelVM" Property="ChannelCD" Filterable="true" Title="Channel CD" Width="90px" TextAlign="TextAlign.Right">
                <EditTemplate Context="channelvm">
                    <RadzenNumeric Min="1" Max="100" @bind-Value="channelvm.ChannelCD" Class="w-70" Disabled="@enable" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ChannelVM" Property="SDesc" Title="Description" Width="110px" TextAlign="TextAlign.Left">
                <EditTemplate Context="channelvm">
                    <RadzenTextBox @bind-Value="channelvm.SDesc" Style="width:100%; display: block" Name="Description" />   <RadzenRequiredValidator Component="Description" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ChannelVM" Property="DispSeq" Filterable="true" Title="Disp Sequence" Width="90px" TextAlign="TextAlign.Right">
                <EditTemplate Context="channelvm">
                    <RadzenNumeric Min="1" Max="100" @bind-Value="channelvm.DispSeq" Class="w-70" Disabled="@enable" Name="DispSeq" />  <RadzenRequiredValidator Component="DispSeq" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ChannelVM" Property="EffDate" Title="Eff date" Width="90px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
                <EditTemplate Context="channelvm">
                    <RadzenDatePicker @bind-Value="channelvm.EffDate" DateFormat="d" Class="w-100" Name="EffDate"/>   <RadzenRequiredValidator Component="EffDate" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ChannelVM" Property="ExpDate" Title="Expiry Date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
                <EditTemplate Context="channelvm">
                    <RadzenDatePicker @bind-Value="channelvm.ExpDate" DateFormat="d" Class="w-100" Name="ExpDate"/> <RadzenRequiredValidator Component="ExpDate" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ChannelVM" Property="IsActive" Title="Is Active" Width="70px" TextAlign="TextAlign.Left">
                <Template Context="channelvm">
                    <RadzenSwitch @bind-Value="channelvm.IsActive" Disabled="false" />
                </Template>
                <EditTemplate Context="channelvm">
                    <RadzenSwitch @bind-Value="channelvm.IsActive" Disabled="false" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ChannelVM" Context="channelvm" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px">
                <Template Context="channelvm">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@(args => EditRow(channelvm))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="channelvm">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(channelvm))">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => CancelEdit(channelvm))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>


}