@page "/configuration/Process"
@using HorizonPollyC.Services.General
@using HorizonPollyC.Models.Configuration
@using HorizonPollyC.Services.Configuration
@using Microsoft.JSInterop;
@inject IExportService _exportService
@inject IJSRuntime js
@inject IGeneric<ProcessVM> _genericService


<h3>Process</h3>

@if (modelList != null)
{


    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Record" Click="@InsertRow" 
    Disabled=@(modelToInsert != null) />
    <RadzenButton Text="Export XLS" Icon="grid_on" Click="@(args => Export("excel"))" Class="mb-4 mr-2" />
    <RadzenButton Text="Export CSV" Icon="wrap_text" Click="@(args => Export("csv"))" Class="mb-4" />
    <RadzenDataGrid @ref="modelGrid" 
                    Data="@modelList"
                    TItem="ProcessVM" 
        AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
        <Columns>
           <RadzenDataGridColumn TItem="ProcessVM" Property="ProcessCD" Filterable="true" Title="CD" Width="70px" TextAlign="TextAlign.Right">
                <EditTemplate Context="processVM">
                    <RadzenNumeric Min="1" Max="100" @bind-Value="processVM.ProcessCD" Class="w-70" Disabled="@enable" Name="ProcessCD" />
                    <RadzenRequiredValidator Component="ProcessCD" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ProcessVM" Property="SDesc" Title="Description" Width="140px" TextAlign="TextAlign.Left">
                <EditTemplate Context="processVM">
                    <RadzenTextBox @bind-Value="processVM.SDesc" Style="width:100%; display: block" Name="Description" /> 
                    <RadzenRequiredValidator Component="Description" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ProcessVM" Property="ProcessProc" Title="Process Proc" Width="140px" TextAlign="TextAlign.Left">
                <EditTemplate Context="processVM">
                    <RadzenTextBox @bind-Value="processVM.ProcessProc" Style="width:100%; display: block" Name="Description" />
                </EditTemplate>
            </RadzenDataGridColumn>
           <RadzenDataGridColumn TItem="ProcessVM" Property="DispSeq" Title="Display Sequence" Width="140px" TextAlign="TextAlign.Right">
                <EditTemplate Context="processVM">
                     <RadzenNumeric Min="1" Max="100" @bind-Value="processVM.DispSeq" Class="w-70" Disabled="@enable" Name="DispSeq" /> 
                     <RadzenRequiredValidator Component="DispSeq" Text="Value is required" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
        
            <RadzenDataGridColumn TItem="ProcessVM" Property="EffDate" Title="Eff date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
              <EditTemplate Context="processVM">
                     <RadzenDatePicker @bind-Value="processVM.EffDate" DateFormat="d" Class="w-100" Name="EffDate"/> 
                     <RadzenRequiredValidator Component="EffDate" Text="Value is required" Popup="true" />
                </EditTemplate>
              </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ProcessVM" Property="ExpDate" Title="Expiry Date" Width="100px" TextAlign="TextAlign.Left"  FormatString="{0:d}">
              <EditTemplate Context="processVM">
                     <RadzenDatePicker @bind-Value="processVM.ExpDate" DateFormat="d" Class="w-100" Name="ExpDate"/>
                     <RadzenRequiredValidator Component="ExpDate" Text="Value is required" Popup="true" />
                </EditTemplate>
              </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ProcessVM" Property="IsActive" Title="Is Active" Width="50px" TextAlign="TextAlign.Left">
                 <Template Context="processVM">
                    <RadzenSwitch @bind-Value="processVM.IsActive" Disabled="false" />
                </Template>
                 <EditTemplate Context="processVM">
                    <RadzenSwitch @bind-Value="processVM.IsActive" Disabled="false" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ProcessVM" Context="schemePlanFactorssvm" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="processVM">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@(args => EditRow(processVM))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="processVM">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(processVM))">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => CancelEdit(processVM))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>


}